@page "/home"
@layout MainLayoutForDash

<style>
    .transparent-card {
        background-color: transparent !important;
        box-shadow: none !important;
        transition: background-color 0.2s;
    }

        .transparent-card:hover {
            background-color: rgba(var(--mud-palette-action-hover), 0.5) !important;
        }
</style>

<MudStack Spacing="5" Class="ml-20 mt-15" Justify="Justify.FlexStart" AlignItems="AlignItems.Center">
    <MudText Typo="Typo.h5" Style="font-weight: bold;">
        <span style="color: white;">Create</span>
    </MudText>
    <MudStack Row="true" Spacing="3">
        <MudButton Variant="Variant.Filled"
                   Color="Color.Primary"
                   StartIcon="@Icons.Material.Filled.AddCircle"
                   Class="px-10 py-2"
                   Style="font-size: 1.00rem; border-radius: 15px;"
                   Href="/login">
            Create Classroom
        </MudButton>

        <MudButton Variant="Variant.Filled"
                   StartIcon="@Icons.Material.Filled.Schedule"
                   Class="px-10 py-4"
                   Style="font-size: 1.00rem; border-radius: 15px;  background-color:#292929;"
                   Href="/register">
            Schedule a Meeting
        </MudButton>

        <MudButton Variant="Variant.Filled"
                   StartIcon="@Icons.Material.Filled.MeetingRoom"
                   Class="px-10 py-2"
                   Style="font-size: 1.00rem; border-radius: 15px;  background-color:#292929;"
                   Href="/register">
            Join Classroom
        </MudButton>
    </MudStack>



    <MudText Typo="Typo.h5" Style="font-weight: bold;" Class="mt-8">
        <span style="color: white;">Classes</span>
    </MudText>

    <MudGrid Justify="Justify.Center">
        <MudItem xs="12" md="8" lg="8">
            <MudCard Style="border-radius: 16px; height:200px; background-color:#292929; " Elevation="4" Class="p-2">

                <MudCardContent>
                    <MudText Typo="Typo.body1" Align="Align.Center">Try creating or joining classes.</MudText>
                    <br />

                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>


    <MudText Typo="Typo.h5" Style="font-weight: bold;">
        <span style="color: white;">Flash Cards</span>
    </MudText>

    <MudGrid Justify="Justify.Center">
        <MudItem xs="12" md="8" lg="8">
            <MudCard Style="border-radius: 16px; height:200px;  background-color:#292929; " Elevation="4" Class="p-2">

                <MudCardContent>
                    <MudText Typo="Typo.body1" Align="Align.Center">No Flash Cards Yet</MudText>
                    <br />

                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>


    <MudText Typo="Typo.h5" Style="font-weight: bold;">
        <span style="color: white;">Chats</span>
    </MudText>

    <MudGrid Justify="Justify.Center">
        <MudItem xs="12" md="8" lg="8">
            <MudCard Style="border-radius: 16px; height:200px;  background-color:#292929; " Elevation="4" Class="p-2">

                <MudCardContent>
                    <MudText Typo="Typo.body1" Align="Align.Center">No chats yet</MudText>
                    <br />

                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>

</MudStack>